
h1{
  color: #47627c;
  font-family: 'Gentium Book Basic', serif;}
h2{
  color: #47627c;
  font-family: 'Gentium Book Basic', serif;}
h3{
  color: #47627c;
  font-family: 'Gentium Book Basic', serif;}
h6{
  color: #c9cfd8;
  font-family: 'Gentium Book Basic', serif;}
}
/*
.table{
  border-top: 100px;
  border-top: green;
} */


.navbar-nav>li {
        float: none;
        display: inline-block;
    }

#path li {
    display: inline-block;
}

.form-group label{
  color: #47627c;
  font-family: 'Gentium Book Basic', serif;}


#panels{
  align-content: center;
  align-self: center;
  align-items: center;
  width: 900px;
}
.panel-title{
  color: #47627c;
  font-family: 'Gentium Book Basic', serif;}

.contactsubmit{
  font-family: 'Gentium Book Basic', serif;}


.carousel-caption h1{
  color: white;
}

.panel-body{
  color: #698096;
  font-family: 'Gentium Book Basic', serif;}

a{
  color: #47627c;
    font-family: 'Gentium Book Basic', serif;

}

#head1, #head2{
  border-top: none;
}
#bloglink{
  font-size: 11pt
}

th{
  text-align: center;
  border-top: none;
  color: #47627c;
  font-family: 'Gentium Book Basic', serif;
}

td{
  text-align: center;
  color: #47627c;
  border-top: 1px solid;
  font-family: 'Gentium Book Basic', serif;
}

.btn.btn-default{
    font-family: 'Gentium Book Basic', serif;
      color: white;
    background-color: #47627c;


}
#butt{
  font-family: 'Gentium Book Basic', serif;
    color: #47627c;
}


li{
  text-align:center;
  color: #698096;
  font-family: 'Gentium Book Basic', serif;
}

p{
  color: #698096;
  font-size: 12pt;
  font-family: 'Gentium Book Basic', serif;
}

.navbar-fixed-top {
    border-color: #ffffff;
    background-color: #ffffff;
}

.nav.navbar-nav li a{
  white-space: nowrap;
  color: #47627c;
  /* display: inline-block; */
  font-family: 'Gentium Book Basic', serif;  font-size: 17pt;
}

.nav.navbar-nav li{
  /* white-space: nowrap; */
  display: inline-block;
}



.jumbotron {
  color: #eff2f7;
}


/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
