<!DOCTYPE html>
{% extends "app/base.html" %}
    {% block body_block%}


    <div class="container">
      <br><br><br><br><br><br>

      <div class="row">
        <div class="col-lg-5">

          <img align="center" src="https://s3.amazonaws.com/project-jumpy/Headshot-Close-Up.jpg" height="300">
        </div>
        <div class="col-lg-7">

          <h1>about Josh</h1>
          <p>I am a certified meditation and yoga instructor and have experienced the benefits of a dedicated practice. I hope to share these teachings to help bring greater awareness and calm to busy lives. </p>
          <p>My teaching style is influenced by yoga philosophy and focuses on bringing attention into the present moment through bodily sensations. This type of practice allows us to experience a greater awareness of our body and mind, release tension, and promote the development of mindful habits in our daily life.</p>
          <p>These mindfulness-based techniques are simple and effective when practiced consistently over time. Through dedicated practice, we build greater patience and acceptance, which help us to reshape the way we react to everyday stress and frustration. Quite naturally, we become calmer, happier, and more balanced in all aspects of our life.</p>
        </div>
      </div>
    <hr class="featurette-divider">

    <h2>formal training</h2>
    <p>I received my Meditation Instructor Certification from University of Holistic Theology. My primary teacher for yogic meditation is Dennis Young. </p>
    <p>I completed my Vinyasa Yoga Teacher Training at Down Under School of Yoga and have studied Vinyasa Yoga with Peter Crowley, Barbara Benagh and Natasha Rizopolous as well as Yin Yoga with Josh Summers. </p>
    <hr class="featurette-divider">

    <h2>background</h2>
    <p>I have worked as a professional actor in Philadelphia and Washington DC, been a caretaker for the elderly, worked as an account manager at a tech startup in downtown Boston, and as the Director of Wellness at Down Under School of Yoga. Through all of these mediums, my intent has always been to bring greater ease to people’s professional and personal lives.</p>
    <hr class="featurette-divider">

    <h2>philosophy</h2>
    <p>Acceptance is the root of happiness. If we can look at the situations that are presented to us and truly accept them as they are, we will notice greater happiness, compassion, and love for ourselves and for others.</p>


  </div>


    {% endblock %}
