<!DOCTYPE html>
{% extends "app/base.html" %}
    {% block body_block%}


    <div class="container">
      <br><br><br><br><br><br>

      <div class="row">
        <div class="col-lg-4">

          <img align="center" src="https://s3.amazonaws.com/project-jumpy/Headshot-Seated.jpg" height="400">
        </div>
        <div class="col-lg-8">

          <h1>about Josh</h1>
          <p>I am a certified meditation and yoga instructor and have experienced the benefits of a dedicated practice. I hope to share these teachings to help bring greater awareness and calm to busy lives.</p>
          <p>My teaching style asks that you connect with your inner child in order to see your experience through fresh eyes. My hope for students is to feel as if they can be themselves, without any reservations or needing to perform or be a certain way. When we accept our physical and mental state as they are, we remove our expectations of how we think they should be and can better listen to our body as it is. In both meditation and yoga I encourage students to be curious with their experience and to explore the sensations, feelings, and emotions that arise.</p>
          <p>These mindfulness-based exercises are simple and effective when practices consistently over time. Through dedicated practice, we build greater patience and acceptance, which help us to reshape the way we react to everyday stress and frustration. We learn to let go of the ideas and habits that do not serve our growth and can rest more comfortably in knowing that we are whole and complete, just as we are. </p>
        </div>
      </div>
    <hr class="featurette-divider">

    <h2>formal training</h2>
    <p>I received my Meditation Instructor Certification from University of Holistic Theology. My primary teacher for Yoga Philosophy and Meditation is Dennis Young.</p>
    <p>I completed my Yoga Teacher Training at Down Under School of Yoga and have studied Vinyasa Yoga with Peter Crowley, Barbara Benagh and Natasha Rizopolous as well as Yin Yoga with Josh Summers.</p>
    <hr class="featurette-divider">

    <h2>philosophy</h2>
    <p>Honest acceptance is the root of happiness. If we approach life with an open heart and mind then we have greater potential to respond with compassion and empathy. If we can remove our own perspectives built out of habit, then we see things as they truly are and the beauty that surrounds us.</p>
    <hr class="featurette-divider">

    <h2>background</h2>
    <p>I have worked as a professional actor in Philadelphia and Washington DC, been a caretaker for the elderly, worked as an account manager at a tech startup in downtown Boston, and most recently as the Director of Wellness at Down Under School of Yoga. Through all of these mediums, my intent has always been to bring greater ease to people’s professional and personal lives. </p>
    <hr class="featurette-divider">


    <h2>join me on the mat</h2>

    <h4>At Borealis Community Yoga in Medford Square</h4>
    <p>Wednesdays 12:00PM - 1:00PM: Yin/Yang Yoga</p>
    <p>Thursdays 9:15AM - 10:15AM: Gentle Yoga & Meditation</p>
    <p>Sundays 5:30PM - 6:45PM: Restore & Renew</p>
    <br>
    <p>Check out borealisyoga.com for more details and upcoming events!</p>

  </div>


    {% endblock %}
