<!DOCTYPE html>
{% extends "app/base.html" %}
{% block body_block %}

    <br><br><br><br><br><br>
    <div class="container">
      <h1 align="center">elderly care</h1>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
        	<br><br><br>
          <p align="center">Mindfulness is not limited to a certain group of people, age, race or gender - these practices are helpful in reducing stress for everyone but often are not accessible to the whole community. In an age where loneliness is on the rise, <a href="http://newsroom.ucla.edu/releases/meditation-reduces-loneliness-237463"><u>a recent study</u></a> of older adults showed that practicing meditation on a consistent basis reduced those feelings of loneliness. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5289973/"><u>Research</u></a> has also shown that meditation can reduce inflammation, improve psychological wellbeing, and <a href="https://meditation-research.org.uk/2015/12/meditation-and-ageing-cognitive-improvements-in-older-adults/"><u>increase cognition</u></a> in older adults. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/project-jumpy/10888567_10204927066035284_180674814390338846_n.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h3 align="center">guided meditation</h3>
          <p align="center">These sessions are designed to introduce and reinforce mindful practices and explore the benefits of a routine practice. The first session will act as an introduction to discuss fundamental mindfulness exercises and include a guided meditation. Recurring sessions will build upon material explored in previous classes and incorporate discussion about our experiences in meditation as well as daily life.</p>

          <br><br>

        </div>
        <div class="col-md-5">
        	<br><br><br>

			  <table class="table">
			  	<tr align="center">
				    <th text-align="center" id='head1'>session length</th>
				    <th align="center" id='head2'>price range</th>
				  </tr>
				  <tr>
				    <td align="center">30 minutes</td>
				    <td align="center">$50 - $75</td>
				  </tr>
				  <tr>
				    <td align="center">60 minutes</td>
				    <td align="center">$100 - $125</td>
				  </tr>

			  </table>

        </div>
      </div>

	<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <p align="center">

			<h3 align="center">gentle yoga*</h3>
			<p align="center">With an emphasis on gentle sustained stretches this class allows participants to open the body, quiet the mind, and build body awareness.</p>

			<h3 align="center">functional movements & stretches</h3>
			<p align="center">These classes emphasize movements that we do every day and often take for granted.</p>


      <br/>
			 <p align="center"><font size="2">*Please bring your own yoga mat and wear clothes that are comfortable to move in.</font></p>


          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">

        	<br><br><br><br>

			  <table class="table">
			  	<tr align="center" id="headerprice">
				    <th text-align="center" id="head1">session length</th>
				    <th align="center" id="head2">price range</th>
				  </tr>
				  <tr>
				    <td align="center">60 minutes</td>
				    <td align="center">$100 - $125</td>
				  </tr>

			  </table>
        <br><br>
        <p align="center"><a class="btn btn-default" id="butt" href="{% url 'app:contact' %}" role="button">contact</a></p>



        </div>
      </div>


    </div>


{% endblock %}
