<!DOCTYPE html>
{% extends "app/base.html" %}
    {% block body_block%}
    {% load staticfiles %}


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="https://s3.amazonaws.com/project-jumpy/Screenshot+from+2018-05-19+11-06-09.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>allow yourself to be</h1><br><br><br><br>
            </div>
          </div>
        </div>
      </div>



    <div class="container">
      <br><br><br>
      <h2 align="center">everybody</h2>
      <p align="center">Every body and mind is naturally seeking happiness - to reduce stress and anxiety and find greater enjoyment in life. I’d love to share with you the mindful habits and practices that have helped me lead a happier and healthier life. </p>
    </div>
    <br><br><br>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="https://www.catseyepest.com/sites/default/files/Boston-Massachusetts-CatseyePest.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1><br><br><br><br>
            </div>
          </div>
        </div>
      </div>


    <div class="container">
        <br><br><br>
        <h2 align="center">the practices</h2>
        <p align="center">Meditation and yoga are practices in which we allow our attention to rest in the present moment. We don’t need to be anything special and we don’t need to go anywhere to be a better ‘self’. With honest acceptance of what is in front of us and where we are in our life journey we allow ourselves to be.</p>
    </div>
    <br><br><br>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="https://ih0.redbubble.net/cover.20617.1200x300.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1><br><br><br><br>
            </div>
          </div>
        </div>
      </div>


    <div class="container">
      <br><br><br>
        <h2 align="center">what is happpiness</h2>
        <p align="center">If you ask this question to one hundred people you would probably get a mix of answers. But my bet is that there would be one common theme - a connection, an investment of energy in whatever it is that is responsible for our pleasure. Whether it’s spending quality time with the family, lounging on the beach, or eating chocolate ice cream there is a commitment to that activity (the moment) in which we experience happiness.</p>
    </div>
    <br><br><br>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://blog.zeno.global/wp-content/uploads/2017/10/xOffice-Environment.jpg.pagespeed.ic.UajaDCMIjK.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1><br><br><br><br>
            </div>
          </div>
        </div>
      </div>




    <div class="container">
      <br><br><br>
        <h2 align="center">where we are</h2>
        <p align="center">Perhaps you’re seeking some peace of mind or maybe you’d just like a little bit more movement during your day, either way, I’m here for you. As a certified meditation and yoga instructor in the Boston area, I want to meet you where you are - physically, mentally, and even geographically. </p>
    </div>
    <br><br><br>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://blog.zeno.global/wp-content/uploads/2017/10/xOffice-Environment.jpg.pagespeed.ic.UajaDCMIjK.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1><br><br><br><br>
            </div>
          </div>
        </div>
      </div>




    <div class="container">
      <br><br><br>
        <h2 align="center">helpful resources</h2>
        <p align="center">These are some things that I’ve found helpful on my journey so far, maybe they will provide some helpful insight for you too!</p>
        <br>

          <a align="center" href="https://www.npr.org/programs/ted-radio-hour/267185371/simply-happy"><u>Simply Happy: TED Radio Hour - podcast</u></a>
          <br />
          <a href="https://www.amazon.com/Living-Reality-Extraordinary-Summer-Adamson/dp/0935895108/ref=sr_1_1?ie=UTF8&qid=1526672415&sr=8-1&keywords=living+reality"><u>Living Reality by James Braha - book</u></a>
          <br />
          <a href="https://www.amazon.com/Mindfulness-English-Bhante-Henepola-Gunaratana/dp/0861719069/ref=sr_1_1_sspa?ie=UTF8&qid=1526672378&sr=8-1-spons&keywords=mindfulness+in+plain+english&psc=1"><u>Mindfulness in Plain English - Bhante Henepola Gunaratana - book</u></a>

        </p>
    </div>
    <br>





    {% endblock %}
