<!DOCTYPE html>
{% extends "app/base.html" %}
{% block body_block %}

    <br><br><br><br><br><br>
    <div class="container">
      <h1 align="center">on-site</h1>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
        	<br><br><br>
          <p align="center">From my door to yours - I enjoy sharing these contemplative practices in a group setting wherever you are. Whether you’d like to start a weekly yoga class at your residential complex or share meditation with coworkers, we can make it happen together. </p>
          <p align="center">Companies across the country are discovering the benefit of teaching and cultivating mindfulness-based exercises to their employees - and there are studies to back it up. Research has shown that meditation increases creativity, heightens attention span, and promotes greater empathy and communication.</p>
        
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="https://s3.amazonaws.com/project-jumpy/private.jpg" alt="Generic placeholder image" height="300">
        </div>
      </div>

      
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-2"></div>
        
        <div class="col-sm-8">
          <h3 align="center">guided meditation</h3>
          <p align="center">These sessions are designed to introduce and reinforce mindful practices and explore the benefits of a routine practice. The first session acts as an introduction to discuss fundamental mindfulness exercises and include a guided meditation. Recurring sessions will build upon material explored in previous classes and incorporate discussion about our experiences in meditation as well as daily life. </p>
          <br/>
        </div>
        <div class="col-sm-2"></div>
      </div>

      
      
      <hr class="featurette-divider">

      <div class="row featurette">

        <div class="col-sm-2"></div>
        
        <div class="col-sm-8">
          <h3 align="center">hatha yoga*</h3>
          <p align="center">This class focuses on the breath and the felt sensations within the body as you move through a sequence of foundational postures. </p>
    
          <h3 align="center">gentle yoga*</h3>
          <p align="center">With an emphasis on gentle sustained stretches this class allows participants to open the body, quiet the mind, and build body awareness.</p>
    
          <h3 align="center">simple stretches*</h3>
          <p align="center">This 30-minute class is meant to promote and reinforce a daily stretching practice throughout the workday. Great for office breaks as no change of clothes is needed.</p>

          <br><p align="center"><font size="2">*Please bring your own yoga mat and wear clothes that are comfortable to move in. </font></p>

          <br/>
        </div>
        <div class="col-sm-2"></div>

    </div>
  
    </div>


{% endblock %}
