<!DOCTYPE html>
{% extends "app/base.html" %}
{% block body_block %}

    <br><br><br><br><br><br>
    <div class="container">
      <h1 align="center">private & small groups</h1>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
        	<br><br><br>
          <p align="center">I offer private yoga & meditation for small groups and individuals who want to develop a consistent home practice. Individual instruction allows for a greater exploration of experiences felt in and out of formal practice. These sessions can be scheduled at your home or we can meet virtually through Skype or Facetime. </p>
          <p align="center">Have a friend or two that you’d like to have a private class with at your home? Host your own weekly small group class! This is great way to keep consistent with your practice and allows for personalized instruction. You will also have your choice of style of yoga in the classes you hold, week to week.</p>
        
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="https://s3.amazonaws.com/project-jumpy/private.jpg" alt="Generic placeholder image" height="300">
        </div>
      </div>

	<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <p align="center">

			<h3 align="center">meditation</h3>
			<p align="center">The best practice is one of habit. The simple act of a sitting with the intention to experience without judgement every day is the best way to advance one’s practice. Personalized sessions are useful in exploring the experiences that arise through your daily practice.</p>

			<h3 align="center">yoga</h3>
			<p align="center">My approach to private yoga sessions is completely based on the need of the individual. I’ll work with you to determine a practice that fits the needs of your unique body. Private sessions are great for beginners, advanced practitioners, and anyone seeking yoga for healing and healthy maintenance of the body.</p>


      <br/>



          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">

        	<br><br><br><br>

			  <table class="table">
			  	<tr align="center" id="headerprice">
				    <th text-align="center" id="head1">session length</th>
				    <th align="center" id="head2">price</th>
				  </tr>
				  <tr>
				    <td align="center">60 Minutes <i>(private)</i></td>
				    <td align="center">$100</td>
          </tr>
          <tr>
				    <td align="center">60 Minutes <i>(small group)</i></td>
				    <td align="center">$125</td>
				  </tr>


        </table>
        <br><p align="center"><font size="2"> *sliding-scale pricing is available on a needs basis</font></p>
        <br><br>
        <p align="center"><a class="btn btn-default btn-lg" href="{% url 'app:contact' %}" role="button">connect</a></p>



        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <p align="center">

			<h3 align="center">yoga & meditation & healing</h3>
			<p align="center">I enjoy working with individuals who are turning to yoga for healing. Whether it’s a mental or physical ailment, yoga and meditation can be extremely beneficial. I work with clients who experience a range of symptoms from everyday stress and anxiety to sciatica, fibromyalgia, and osteoporosis. That being said, I encourage clients to consult their mental and physical care practitioners before beginning a daily practice.</p>

      <br/>



          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <h3 align="center">yoga styles</h3>
          <ul>
            <li>Slow Flow</li>
            <li>Hatha</li>
            <li>Restorative</li>
            <li>Yin</li>
          </ul>
          <p align="center"></p>

        </div>
      </div>

















    </div>


{% endblock %}
