<!DOCTYPE html>
{% extends "app/base.html" %}
{% block body_block %}

    <br><br><br><br><br><br>
    <div class="container">
      <h1 align="center">School</h1>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
        	<br><br><br>
          <p align="center">In an age of emphasizing office culture, offering yoga and meditation as a benefit can help attract new talent, increase the productivity of your team, and reduce the stress of your employees. Companies across the country are discovering the benefit of teaching and cultivating mindfulness-based exercises to their employees - and there are studies to back it up. Research has shown that meditation increases creativity, heightens attention span, and promotes greater empathy and communication. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/project-jumpy/10888567_10204927066035284_180674814390338846_n.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" align="center">Guided Meditation</h2>
          <p align="center">These sessions are designed to introduce and reinforce mindful practices and explore the benefits of a routine practice. The first session acts as an introduction to discuss fundamental mindfulness exercises and include a guided meditation. Recurring sessions will build upon material explored in previous classes and incorporate discussion about our experiences in meditation as well as daily life.</p>
          <br><br>

        </div>
        <div class="col-md-5">
        	<br><br><br>

			  <table class="table">
			  	<tr align="center">
				    <th text-align="center">Session Length *</th>
				    <th align="center">Cost</th>
				  </tr>
				  <tr>
				    <td align="center">30 Minutes</td>
				    <td align="center">$70</td>
				  </tr>
				  <tr>
				    <td align="center">60 Minutes</td>
				    <td align="center">$125</td>
				  </tr>
			    
			  </table>
			  <p align="center"><font size="2">*Longer sessions available upon request</font></p>
        </div>
      </div>

	<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <p align="center">
          	<h3>Flow Yoga*:</h3> 
          	<p>This class will focus on breath and body as we move through a series of foundational postures that are practiced in typical vinyasa flow classes.</p>

			<h3>Gentle Yoga*:</h3> 
			<p>With an emphasis on gentle sustained stretches this class allows participants to open the body, quiet the mind, and build body awareness.</p> 

			<h3>Simple Stretches:</h3> 
			<p>This 30-minute class is meant to promote and reinforce a daily stretching practice throughout the workday. Great for office breaks as no change of clothes is needed.</p> 



          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">

        	<br><br><br><br><br><br>

			  <table class="table">
			  	<tr align="center">
				    <th text-align="center">Session Length *</th>
				    <th align="center">Cost</th>
				  </tr>
				  <tr>
				    <td align="center">30 Minutes</td>
				    <td align="center">$80</td>
				  </tr>
				  <tr>
				    <td align="center">60 Minutes</td>
				    <td align="center">$150</td>
				  </tr>
			    
			  </table>

			 <p align="center"><font size="2">*Please bring your own yoga mat and wear clothes that are comfortable to move in.</font></p>

        </div>
      </div>


    </div>


{% endblock %}

