<!DOCTYPE html>
{% extends "app/base.html" %}
{% block body_block %}

    <br><br><br><br><br><br>
    <div class="container">
      <h1 align="center">schools</h1>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
        	<br><br><br>
          <p align="center">Yoga and meditation practices are effective in reducing stress and anxiety in kids and adults. Research has shown that students who consistently practiced mindfulness exercises <a href="https://www.researchgate.net/publication/281684113_Mindfulness_anxiety_and_high-stakes_mathematics_performance_in_the_laboratory_and_classroom"><u>reduced their anxiety and boosted working memory.</u></a> Another study on <a href="https://www.ncbi.nlm.nih.gov/pubmed/25546595"><u>social-emotional development</u></a> showed students who engaged in mindfulness exercises reported greater empathy, perspective-taking ability, emotional control, and optimism, and showed a decrease in symptoms of depression and aggression.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/project-jumpy/10888567_10204927066035284_180674814390338846_n.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h3 align="center">meditation for teens</h3>
          <p align="center">In these sessions we explore the idea of mindfulness in an age of technology as well as the daily pressures of being a young adult. We will discuss group and individual stresses we experience as young people and will be guided through fundamental mindfulness exercises to reduce stress and promote comfortability of self. </p>
          <h3 align="center">guided meditation</h3>
          <p align="center">These sessions are designed to introduce and reinforce mindful practices and explore the benefits of a routine practice. The first session will act as an introduction to discuss fundamental mindfulness exercises and include a guided meditation. Recurring sessions will build upon material explored in previous classes and incorporate discussion about our experiences in meditation as well as daily life.</p>

          <br><br>

        </div>
        <div class="col-md-5">
        	<br><br><br>

			  <table class="table">
			  	<tr align="center">
				    <th text-align="center" id='head1'>session length</th>
				    <th align="center" id='head2'>price range</th>
				  </tr>
				  <tr>
				    <td align="center">30 minutes</td>
				    <td align="center">$40 - $60</td>
				  </tr>
				  <tr>
				    <td align="center">60 minutes</td>
				    <td align="center">$80 - $100</td>
				  </tr>

			  </table>

        </div>
      </div>

	<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <p align="center">
          	<h3 align="center">yoga for teens</h3>
          	<p align="center">Emphasis on body awareness and comfortability in order to allow students to feel at home in their body and mind.</p>

			<h3 align="center">flow yoga*</h3>
			<p align="center">This class will focus on breath and body as we move through a series of foundational postures that are practiced in typical vinyasa flow classes.</p>

			<h3 align="center">gentle yoga*</h3>
			<p align="center">With an emphasis on gentle sustained stretches this class allows participants to open the body, quiet the mind, and build body awareness.</p>

			<h3 align="center">simple stretches</h3>
			<p align="center">These 30-minute classes promote and reinforce a daily stretching practice throughout the workday. Great for office breaks as no change of clothes is needed.</p>

      <br/>
			 <p align="center"><font size="2">*Please bring your own yoga mat and wear clothes that are comfortable to move in.</font></p>


          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">

        	<br><br><br><br><br><br>

			  <table class="table">
			  	<tr align="center" id="headerprice">
				    <th text-align="center" id="head1">session length</th>
				    <th align="center" id="head2">price range</th>
				  </tr>
				  <tr>
				    <td align="center">60 minutes</td>
				    <td align="center">$100 - $125</td>
				  </tr>

			  </table>
        <br><br>
        <p align="center"><a class="btn btn-default" href="{% url 'app:contact' %}" role="button">contact</a></p>



        </div>
      </div>


    </div>


{% endblock %}
